<main class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <form enctype="application/x-www-form-urlencoded" role="form" novalidate>
      <input class="new-todo" placeholder="What needs to be done" autofocus
              [(ngModel)]="text"
              (keyup.enter)="add()"
      >
    </form>
  </header>
  <section class="main">
    <app-complete-all></app-complete-all>
    <app-todos-list ></app-todos-list>
 
  </section>
  <footer class="footer">
    <span class="todo-count"></span>
    <ul class="filters">
      <li>
        <a href="#" class="selected" (click)="switchMode('All')">All</a>
      </li>
      <li>
        <a href="#" (click)="switchMode('Active')">Active</a>
      </li>
      <li>
        <a href="#" (click)="switchMode('Completed')">Completed</a>
      </li>
    </ul>
    <button class="clear-completed" (click)="clear()">Clear completed</button>
  </footer>
</main>
<footer class="info">
  <p>Double-click to edit a todo</p>
</footer>
